lesson01/monkey_trouble.py
lesson01/sleep_in.py
lesson03/mailroom.py
lesson04/Trigram text samples/
lesson04/index_vs_slice.py
lesson04/mutability.py
lesson04/string_formatting_for_mailroom1.py
students/BrianB/lesson04/mailroom_for_lesson06.py
students/BrianB/lesson04/sherlock_small.txt
students/BrianB/lesson04/students.txt
students/BrianB/lesson05/comprehension_practice.py
students/BrianB/lesson05/except_test.py	
students/BrianB/lesson05/test_git_eception_exercises.py
students/BrianB/lesson06/test_colors.py
students/BrianB/lightning_talk/test_matplotlib.py