lesson01/monkey_trouble.py
lesson01/sleep_in.py
lesson03/mailroom.py
lesson04/Trigram text samples/
lesson04/index_vs_slice.py
lesson04/mutability.py
lesson04/string_formatting_for_mailroom1.py
lesson04/mailroom_for_lesson06.py
lesson04/sherlock_small.txt
lesson04/students.txt
lesson05/comprehension_practice.py
lesson05/except_test.py	
lesson05/test_git_eception_exercises.py
lesson06/test_colors.py
lightning_talk/test_matplotlib.py
lightning_talk/block_chain.py
students/BrianB/lightning_talk/plot_fits-image.py
students/BrianB/lesson06/colors.py
